@media (max-width: 767px) {
    .header {
        padding: 0;
    }
    .header__box,
    .clearance__box {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .price__box{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 500px) {
    .btnFixedD {
        display: none;
    }
    .btnFixed {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
}